@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    background: #eaeaea;
}
.container{
    width: 1120px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    color: #101010;
    text-transform: uppercase;
    font-weight: 700px;
}
.header__banner{
    position: relative;
}
.header_banner_apple_icon{
    position: absolute;
    right: 100px;
    bottom: 5px;

}
.heder__banner_img{
    width: 100%;
}

.card{
    width: 350px;
    border-radius: 30px;
    text-align: center;
    background: white;
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    transition: .5s;
}
.card:hover{
    box-shadow: 5px 5px 5px 1px gray;
    transition: .5s;
}
.title{
    padding-top: 20px;
    font-size: 17px;
    font-weight: 600;
}
section{
    margin-top: 88px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
     
